<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1,759},{241,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{244,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{244,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{380,759},{241,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{487,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{487,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{730,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{730,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{759,759},{241,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{973,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{973,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards-1.png</string>
            <key>size</key>
            <string>{1215,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c4f2ca89955d22615602c306c17e3c:cd1a62db7c5d98af1c3f28f2473579b2:59110ac9b612bbeace495ac06eb36582$</string>
            <key>textureFileName</key>
            <string>cards-1.png</string>
        </dict>
    </dict>
</plist>
