<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{244,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1,759},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{244,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{487,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1,1138},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{244,759},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{487,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{730,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1,1517},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{244,1138},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{487,759},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{730,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{973,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{244,1517},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{487,1138},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{730,759},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{973,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1216,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{487,1517},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{730,1138},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{973,759},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1216,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1459,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{730,1517},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{973,1138},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1216,759},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1459,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1702,1},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{973,1517},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1216,1138},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1459,759},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1702,380},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1216,1517},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1459,1138},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1702,759},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1459,1517},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1702,1138},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,377}</string>
                <key>spriteSourceSize</key>
                <string>{241,377}</string>
                <key>textureRect</key>
                <string>{{1702,1517},{241,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards-0.png</string>
            <key>size</key>
            <string>{1944,1895}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c4f2ca89955d22615602c306c17e3c:cd1a62db7c5d98af1c3f28f2473579b2:59110ac9b612bbeace495ac06eb36582$</string>
            <key>textureFileName</key>
            <string>cards-0.png</string>
        </dict>
    </dict>
</plist>
